<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.10.0/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.0/dist/js/uikit-icons.min.js"></script>
    <style>
        @media (max-width: 600px) {
            .uk-container {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    </style>
</head>
<body class="uk-background-muted uk-height-viewport uk-flex uk-flex-stretch">
    <!-- Fixed Left Navigation Bar -->
    <!-- Left Navigation Bar -->
    <div id="offcanvas-nav" uk-offcanvas="mode: reveal; overlay: true">
        <div class="uk-offcanvas-bar">

            <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header">Parkinson Tracker</li>
                <li><a href="{{ url_for('home.home') }}">Home</a></li>
                <li><a href="{{ url_for('symptoms.symptom_check') }}">Symtpom Check</a></li>
                <li><a href="{{ url_for('symptoms.get_or_add_symptoms') }}">Symptom List</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>

        </div>
    </div>

    <!-- Main Content -->
    <div class="uk-container uk-margin-top uk-margin-large-bottom">
        <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-nav">Open Menu</button>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
