<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.10.0/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.0/dist/js/uikit-icons.min.js"></script>
    <style>
        @media (max-width: 600px) {
            .uk-container {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .menu-button {
            position: fixed;
            top: 10px;
            left: 10px;
        }
        .uk-container {
            padding-top: 50px; /* Add padding to avoid overlap with fixed menu button */
        }
    </style>
</head>
<body class="uk-background-muted uk-height-viewport">
    <!-- Fixed Left Navigation Bar -->
    <div id="offcanvas-nav" uk-offcanvas="mode: reveal; overlay: true">
        <div class="uk-offcanvas-bar" style="padding-top: 60px">
            <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header">Parkinson Tracker</li>
                <li><a href="{{ url_for('home.home') }}">Home</a></li>
                <li><a href="{{ url_for('symptoms.symptom_check') }}">Symptom Check</a></li>
                <li><a href="{{ url_for('symptoms.get_or_add_symptoms') }}">Symptom List</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>

    <!-- Menu Button -->
    <button class="uk-button uk-button-default uk-icon-button menu-button" type="button" uk-toggle="target: #offcanvas-nav">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Main Content -->
    <div class="uk-container uk-margin-large-bottom" style="max-width: 800px;">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
