{% extends "base.html" %}

{% block title %}Choose Action{% endblock %}

{% block content %}
<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body uk-width-large uk-align-center">
        <h2 class="uk-card-title">Choose Action</h2>
        <div class="uk-flex uk-flex-column uk-flex-center uk-width-1-1@s uk-width-1-2@m">
            <a href="{{ url_for('symptoms.symptom_check') }}" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Symptom Check</a>
            <a href="{{ url_for('symptoms.get_or_add_symptoms') }}" class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom">Symptom List</a>
        </div>
    </div>
</div>
{% endblock %}
