<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Action</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Choose Action</h2>
        <div class="btn-group-vertical">
            <a href="{{ url_for('symptoms.symptom_check', username=username) }}" class="btn btn-primary btn-lg mb-2">Symptom Check</a>
            <a href="{{ url_for('symptoms.get_or_add_symptoms', username=username) }}" class="btn btn-secondary btn-lg">Symptom List</a>
        </div>
    </div>
</body>
</html>