{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.10.0/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.0/dist/js/uikit-icons.min.js"></script>
</head>

<body class="uk-flex uk-flex-center uk-flex-middle uk-background-muted uk-height-viewport">
<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@s uk-width-1-2@m uk-align-center">
        <h2 class="uk-card-title">회원가입</h2>
        <form method="post" action="{{ url_for('auth.register') }}">
            {{ form.hidden_tag() }}
            <div class="uk-margin">
                {{ form.username.label(class="uk-form-label") }}
                {{ form.username(class="uk-input") }}
                {% if form.username.errors %}
                    <div class="uk-text-danger">{{ form.username.errors[0] }}</div>
                {% endif %}
            </div>
            <div class="uk-margin">
                {{ form.email.label(class="uk-form-label") }}
                {{ form.email(class="uk-input") }}
                {% if form.email.errors %}
                    <div class="uk-text-danger">{{ form.email.errors[0] }}</div>
                {% endif %}
            </div>
            <div class="uk-margin">
                {{ form.password.label(class="uk-form-label") }}
                {{ form.password(class="uk-input") }}
                <small class="uk-text-muted">비밀번호는 최소 8자 이상이어야 하며, 최소 하나의 소문자, 대문자, 숫자, 특수문자를 포함해야 합니다.</small>
                {% if form.password.errors %}
                    <div class="uk-text-danger">{{ form.password.errors[0] }}</div>
                {% endif %}
            </div>
            <div class="uk-margin">
                {{ form.confirm_password.label(class="uk-form-label") }}
                {{ form.confirm_password(class="uk-input") }}
                {% if form.confirm_password.errors %}
                    <div class="uk-text-danger">{{ form.confirm_password.errors[0] }}</div>
                {% endif %}
            </div>
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1">회원가입</button>
        </form>
        <a href="{{ url_for('auth.login') }}" class="uk-link-muted uk-display-block uk-text-center uk-margin-top">로그인</a>
    </div>
</div>
</body>