{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}

{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body uk-width-large uk-align-center">
        <h2 class="uk-card-title">Register</h2>
        <form method="post" action="{{ url_for('auth.register') }}">
            <div class="uk-margin">
                <label for="username" class="uk-form-label">Username:</label>
                <input type="text" id="username" name="username" class="uk-input" required>
            </div>
            <div class="uk-margin">
                <label for="password" class="uk-form-label">Password:</label>
                <input type="password" id="password" name="password" class="uk-input" required>
            </div>
            <div class="uk-margin">
                <label for="email" class="uk-form-label">Email:</label>
                <input type="email" id="email" name="email" class="uk-input" required>
            </div>
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1">Register</button>
        </form>
        <a href="{{ url_for('auth.login') }}" class="uk-link-muted uk-display-block uk-text-center uk-margin-top">Login</a>
    </div>
</div>
{% endblock %}
