{% extends "base.html" %}

{% block title %}Symptoms{% endblock %}

{% block content %}
<div class="uk-container">
    <h2 class="uk-heading-line"><span>Symptoms List</span></h2>
    <form method="get" action="" class="uk-form-stacked uk-margin-bottom">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand">
                <label for="date_filter" class="uk-form-label">Filter by Date:</label>
                <div class="uk-form-controls">
                    <input type="date" id="date_filter" name="date_filter" class="uk-input">
                </div>
            </div>
            <div class="uk-width-auto uk-flex uk-flex-bottom">
                <button type="submit" class="uk-button uk-button-primary">Filter</button>
            </div>
        </div>
    </form>
    <ul class="uk-list uk-list-divider">
        {% for symptom in symptoms %}
            <li>{{ symptom.time }} - {{ symptom.event }} ({{ symptom.type }})</li>
        {% endfor %}
    </ul>
    <h2 class="uk-heading-line uk-margin-top"><span>Graph</span></h2>
    <div style="max-width: 100%; overflow-x: auto;">
        {% if graph_html %}
            {{ graph_html | safe }}
        {% else %}
            <p>No data available.</p>
        {% endif %}
    </div>
    <!-- 
    <h2 class="uk-heading-line uk-margin-top"><span>DataFrame</span></h2>
    <div class="uk-overflow-auto">
        {% if tables %}
            {% for table in tables %}
                <div class="uk-margin">{{ table|safe }}</div>
            {% endfor %}
        {% else %}
            <p>No data available.</p>
        {% endif %}
    </div>
    -->
</div>
{% endblock %}
