{% extends "base.html" %}

{% block title %}Title{% endblock %}

{% block content %}
    <div class="uk-card uk-card-default uk-card-body uk-width-auto" >
        <h2 class="uk-card-title">Symptom Check</h2>
        <form method="post" action="{{ url_for('symptoms.symptom_check') }}">
            <div class="uk-margin">
                <label for="event" class="uk-form-label">Event</label>
                <select id="event" name="event" class="uk-select" required>
                    <option value="좋아요">좋아요</option>
                    <option value="보통이에요">보통이에요</option>
                    <option value="나빠요">나빠요</option>
                    <option value="약 섭취">약 섭취</option>
                </select>
            </div>
            <div class="uk-margin">
                <label for="type" class="uk-form-label">Type</label>
                <select id="type" name="type" class="uk-select" required>
                    <option value="symptom">Symptom</option>
                    <option value="medication">Medication</option>
                </select>
            </div>
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1">Submit</button>
        </form>
    </div>
{% endblock %}
